<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">AP4L (Adaptive PETs to Protect & emPower People during Life Transitions): Project protecting online privacy for people going through serious life events.
AP4L’s aim is to protect people from stalking, online trolls, and other serious online dangers they are exposed to when going through serious real-life events.
This three-year, £3.4 million project funded by the Engineering and Physical Sciences Research Council will produce three Privacy-Enhancing Technologies (PETs) to support people in navigating significant life transitions, such as relationship breakdowns, developing a serious illness, leaving employment in the Armed Forces, or coming out as LBGTQ+.
Experts in Cybersecurity, Psychology, Law, Business, and Criminology will collaborate in the project, which is led by the University of Surrey and the Universities of Strathcylde, Edinburgh, Cambridge, Edge Hill and Queen Mary University of London are also partners.
</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Risk Playgrounds</h4>
                    <p class="text-muted">•	Risk Playgrounds, which will build resilience by helping people to explore potentially risky interactions of life transitions with privacy settings across their digital footprint in safe ways.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Transition Guardians</h4>
                    <p class="text-muted">•	Transition Guardians, which will provide real-time protection for users during life transitions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security Bubbles</h4>
                    <p class="text-muted">•	Security Bubbles, which will promote connection by bringing people together who can help each other, or who need to work together, during one person's life transition, while providing additional guarantees to safeguard everyone involved.</p>
                </div>
            </div>
        </div>
    </section>
